
.formParent {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}

.info {
    text-align: left;
}
.statContainer {
    margin: 0 auto;
    color: rgb(195, 228, 241); 
    background-color: rgba(46, 43, 43, 0.87);
    font-size: 0.7rem;
    box-shadow: 4px 4px 3px rgb(80, 78, 78);    
    border-radius: 10px 10px 0px 0px;
}

.statInfo{
    display: flex;
    justify-content: space-between;
}
input [name=number] {
    width: 1px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .heading{
      padding-bottom: 20px;
  }

  .inp {
      width: 40px;
      border-radius: 3px;
      border: none;
      outline: none;
  }
  .table-container{
      width: 100%;
      background:rgb(195, 228, 241);
      background-color: #3780aabb;
      background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(73, 164, 192));
      font-size: 0.7rem;
      box-shadow: 4px 4px 3px rgb(80, 78, 78);
      border-radius: 10px 10px 10px 10px;
      font-weight: bold;
}